@import '../custom';
@import '../utilities/mixins';


.button {
    padding: 0.8rem 2rem;
    background-color: $white;
    text-transform: uppercase;
    color:$light-blue;
    border:none;
    border-radius: 999px;

    &:hover {
    
        padding-left: 2.2rem;
        padding-right: 2.2rem;
        outline: 1px solid $white;
        color: $white;
        @include bgColor;
        @include transition;
    }

    &--hero {
        margin: 0 auto;
    }
    
}

