//Gradient Background

@mixin bgGradient {
    background: linear-gradient(90deg, rgba(130,129,255,1) 0%, rgba(54,189,255,1) 50%);
}

@mixin bgColor {
    background-color: rgba($purple, 0.65);
}

@mixin transition {
   transition: all 0.3s ease;
}


@mixin bg-properties {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}